mixin post(post)
  h1(itemprop="name")= post.title
  .post-meta
    a.meta-date(href=url_for(`/archives/${post.date.format("YYYY")}/${post.date.format("MM")}/`), 'data-smooth', 'data-smooth-type'='list')
      span(itemprop="datePublished" content=date(post.date))= date(post.date)
    span.meta-categories
      != anchor_smooth(list_categories(post.categories, {show_count: false}))
    span.meta-tags
      != anchor_smooth(list_tags(post.tags, {show_count: false}))
  .post-content
    != page_anchor(post.content)
  .post-content-end END
  .post-prev-next
    .post-prev
      if page.next
        a.post-prev-link(href=url_for(page.next.path), 'data-smooth', 'data-smooth-type'='post')= page.next.title
      else
        span.post-prev-null 
    .post-next
      if page.prev
        a.post-next-link(href=url_for(page.prev.path), 'data-smooth', 'data-smooth-type'='post')= page.prev.title
      else
        span.post-next-null 
  if page.comments
    //- Comment
    .post-comment
      #disqus_thread Disqus is loading...
    - let permalink = `${config.url}/${page.path}`
    script(id='disqus_config', data-disqus-url=permalink, data-disqus-identifier=page.comment_id, data-disqus-title=page.title).
      var disqus_config = function () {
        var conf = document.getElementById('disqus_config')
        this.page = this.page || {};
        this.page.url = conf.dataset['disqusUrl'];  
        this.page.identifier = conf.dataset['disqusIdentifier'];
        this.page.title = conf.dataset['disqusTitle'];
      };
    script(id='disqus_loader').
      (function() {
        if(document.getElementById('script-disqus')) return;
        var d = document, s = d.createElement('script');
        s.src = '//jackq.disqus.com/embed.js';
        s.id='script-disqus';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
