mixin post(post)
  h1= post.title
  .post-meta
    a.meta-date(href=url_for(`/archives/${post.date.format("YYYY")}/${post.date.format("MM")}/`))= date(post.date)
    span.meta-categories
      != list_categories(post.categories, {show_count: false})
    span.meta-tags
      != list_tags(post.tags, {show_count: false})
  .post-content
    != page_anchor(post.content)
  .post-content-end END

  if page.comments
    //- Comment
    .post-comment
      #disqus_thread Disqus is loading...
    script.
      var disqus_config = function () {
        this.page.url = "#{page.permalink}";  
        this.page.identifier = "#{page.comment_id}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//jackq.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
